<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://w3cj.github.io/materialize-themes/dist/css/materialize-grey-light-blue.css">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Favorite Band Tracker</a>
      </div>
    </nav>
    {{{body}}}
    <a class="waves-effect waves-light btn" href="/new">Add new</a>
    <a class="waves-effect waves-light btn" href="/">List</a>
  </body>
</html>
