<form class="" action="/" method="post">


<div class="row">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Name" id="name" type="text" class="validate" name="name">
      </div>
    </div>
</div>
<div class="row">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Genre" id="genre" class="validate" name="genre">
        <label for="genre"></label>
      </div>
    </div>
</div>
<div class="row">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Number of albums" id="number_of_albums" class="validate" name="number_of_albums">
        <label for="number_of_albums"></label>
      </div>
    </div>
</div>
<div class="row">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Favorite song" id="favsong" class="validate" name="fav_song">
        <label for="favsong"></label>
      </div>
    </div>
</div>
  <button type="submit" class="waves-effect waves-light btn center align">SUBMIT</button>
</form>
